# Flutter / Dart build artifacts
.dart_tool/
.idea/
.packages
.pub-cache/
.pub/
build/
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
*.iml
*.lock
